<!DOCTYPE html>
<html>
<head>
	<title>Chirper App</title>
	<link rel="stylesheet" href="lib/skeleton/css/normalize.css">
	<link rel="stylesheet" href="lib/skeleton/css/skeleton.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Hello world!</h1>
	<script src="main.js"></script>
</body>
</html>